* {
    box-sizing: border-box;
    background-color: rgb(156, 154, 154);
}
.grid-container {
    display: grid;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 200px;
    grid-gap: 10px;
    grid-template-columns: repeat(6, 140px);
    grid-template-rows: repeat(3, 100px);
}

.cell {
    line-height: 75px;
    background-color: rgb(203, 203, 203);
    text-align: left;
    padding: 15px;
    font-size: 2rem;
    border-radius: 10px;
}

.el-1, .el-3, .el-5, .el-7, .el-9, .el-11 {
    background-color: rgb(52, 51, 51);
    color: white;
}
.el-2 {
    grid-column: 3 / 6;
    grid-row-start: 2;
    border: solid 2px red;
}
